.intro {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.intro-img {
    grid-row: 1/2;
}

.intro-greet {
    grid-row: 2/3;
    grid-column: 1/2;
}

.intro-excerpt {
    grid-row: 3/4;
    grid-column: 1/2;
}

figure {
    width: 100%;
}

.preview {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "message" "flower" "sandwich" "cat";
}

.flower {
    grid-row: 2/3;
}

.sandwich {
    grid-row: 3/4;
}

.cat { 
    grid-row: 4/5;
}

.column {
    flex: 40%;
    max-width: 50%;
}
